version: '3.8'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    environment:
      - NODE_ENV=development
    restart: always

networks:
  default:
    name: uidai-network
